{% extends 'base.html' %}
{% load static %}
{% load i18n %}
    
{% block content %}
    {% if noticias %}
            <div class="container pt-3">
                <div class="d-flex flex-row flex-wrap justify-content-center align-items-center">
                    {% for noticia in noticias %}
                        <div class="card m-3 shadow rounded-0" style="width: 500px; min-height:520px;">
                            <img src="{{ noticia.urlToImage }}" class="card-img-top" style="max-height: 290px; height:290px; min-height:290px; object-fit:cover;" alt="...">
                            <div class="card-body">
                                <h5 class="card-title
                                ">{{ noticia.title }}</h5>
                                <p class="card-text" style="max-height: 90px; overflow: hidden; text-overflow: ellipsis;">{{ noticia.description }}</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <a href="{{ noticia.url }}" class="btn btn-success mt-1" target="_blank">{% trans "Ver mais" %}</a>
                                    </div>
                                    <small class="text-muted
                                    ">{{ noticia.publishedAt }}</small>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-center"">
                        {% if page_obj.has_previous %}
                            <li class="page-item"><a class="page-link" href="?page=1">{% trans "Primeiro" %}</a></li>
                            <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">{% trans "Anterior" %}</a></li>
                        {% endif %}
                        {% for num in page_obj.paginator.page_range %}
                            {% if page_obj.number == num %}
                                <li class="page-item active"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
                            {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                                <li class="page-item"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
                            {% endif %}
                        {% endfor %}
                        {% if page_obj.has_next %}
                            <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">{% trans "Proximo" %}</a></li>
                            <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">{% trans "Ultimo" %}</a></li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
    {% else %}
    <div class="container d-flex justify-content-center align-items-center" style="min-height: 90vh;">
        <div class="row">
            <div class="col-12">
                <h1 class="text-center" style="color: white;">{% trans "No news" %}</h1>
            </div>
        </div>
    </div>
    {% endif %}
{% endblock %}
