{% extends 'base.html' %}
{% load static %}
{% load i18n %}
    
{% block content %}
<div class="row p-0 m-0 mb-3">
    <form method="GET" action="" class="row g-3">
        <div class="col-md-6">
            <div class="input-group">
                <span class="input-group-text" id="basic-addon2">{% trans "FILTER_LABEL_REST_NAME" %}</span>
                <input type="text" name="search" class="form-control" aria-describedby="basic-addon2">
            </div>
        </div>
        <div class="col-md-6">
            <div class="input-group">
                <span class="input-group-text" id="basic-addon1">{% trans "Categoria" %}</span>
                <select name="category" class="form-select" aria-describedby="basic-addon3">
                    <option value="">{% trans "Selecione..." %}</option>
                    {% for categoria in categorias %}
                        <option value="{{ categoria }}">{{ categoria }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="col-12">
            <button type="submit" class="btn btn-primary mt-3">{% trans "Filtrar" %}</button>
        </div>
    </form>
</div>
{% if restaurantes %}
<div class="container pt-3">
    <div class="d-flex flex-row flex-wrap justify-content-center" style="min-height: 90vh;">
        {% for restaurante in restaurantes %}
            <div class="card p-0 m-0 mb-3"  style="max-height: 340px; width: 800px;">
                <div class="card-body p-0 m-0 ">
                    <div class="row w-100 h-100 p-0 m-0">
                        <div class="col-8 d-flex flex-column justify-content-evenly">
                            <div>
                                <h2 class="card-title"><strong>{{ restaurante.name }}</strong></h2>
                                <h4 class="card-title">
                                    <strong>
                                    {% for _ in "x"|ljust:restaurante.star %}
                                        ⭐
                                    {% endfor %}
                                    </strong>
                                </h4>
                            </div>
                            <hr>
                            <div>
                                <h5 class="card-title">📍 {{ restaurante.address }}</h5>
                                <span class="card-text d-block">📞 {{restaurante.phone}}</span>
                                <span class="card-text">🏷️ {{ restaurante.category }}</span>
                            </div>
                            <a href="{{ restaurante.website }}" class="btn btn-success mt-1" target="_blank">{% trans "Ir para o site" %}</a>
                        </div>
                        {% if restaurante.image %}
                            <div class="col p-0 m-0 w-100" style="background-Image: url('{{ restaurante.image.url }}'); background-size: cover; background-position: center; border-radius: 0 5 5 0;">
                            </div>
                        {% else %}
                            <div class="col p-0 m-0 w-100" style="background-Image: url('{% static 'images/no_found_image.jpg' %}'); background-size: cover; background-position: center; border-radius: 0 5 5 0;">
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
                <li class="page-item"><a class="page-link" href="?page=1">{% trans "Primeiro" %}</a></li>
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">{% trans "Anterior" %}</a></li>
            {% endif %}
            {% for num in page_obj.paginator.page_range %}
                {% if page_obj.number == num %}
                    <li class="page-item active"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
                {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                    <li class="page-item"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
                {% endif %}
            {% endfor %}
            {% if page_obj.has_next %}
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">{% trans "Próximo" %}</a></li>
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">{% trans "Último" %}</a></li>
            {% endif %}
        </ul>
    </nav>            
{% else %}
<div class="container d-flex justify-content-center align-items-center" style="min-height: 90vh;">
    <div class="row">
        <div class="col-12">
            <h1 class="text-center" style="color: white;">{% trans "NO_REST_LIST" %}</h1>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}
