*{
    font-family: "Playfair Display", serif;
}
body, html{
    height: 100%; 
    width: 100%;
}

body {
    overflow-x: hidden;
    background: rgb(6,39,38);
    background: linear-gradient(to bottom,  rgba(6,39,38,1) 0%, rgba(6,39,38,1) 35%, rgba(8,70,49,1) 89%);
    background-attachment: fixed;
    
}

nav {
    font-size: 21px;
}

.carousel img {
    filter: brightness(45%);
    height: 100vh;
    object-fit: cover;
}

.carousel {
    height: 100vh;
}

.carousel p{
    font-size: 50px;
    
}

.carousel h5{
    font-size: 55px;
    text-transform: uppercase;
    letter-spacing: 0.3rem;
}

main {
    color: white;
}

.tracos {
    background-image: url("../../../images/traços.png");
    background-position: center;
    background-size: contain;
    height: 60px;
    width: 100vw;
}

.inverso {
    transform: rotate(180deg);
}

.parallax {
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../../../images/belemtrip-home2.gif");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    height: 800px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.mapa {
    height: 700px;
}

.row {
    padding: 1rem;
}

.elementos_fundo {
    position: absolute;
    z-index: 0;
}

.fig1 {
    bottom: -23.6rem;
    left: -5rem;
}

.fig2 {
    bottom: -95.6rem;
    right: 0rem;
    position: absolute;
}

.footer{
    background-color: #1a1a1a;
}